:root{
  -primary-color: #CBB3BF;
  -secondary-color: #001011;
  -card-color: #880D1E;
  -details-color: #EF959C;
}
#root {
  max-width: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

