:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background: #001011;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  color: white;

}
body{
  margin:0;
}
.navbar{
  background: #485665;
}
.app{
margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar{
  display: flex;
  justify-content: space-between;

}

ul {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.footer{
  display: flex;
  justify-content: space-between;
}

.cards{
  margin-top: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;

}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
    width: 20rem;
    height: 30rem;
    padding: 2em;
    background: #485665;
    position: relative;
    overflow: visible;
    border-radius: 1em;
    -webkit-box-shadow: 5px 5px 22px 5px rgba(0,0,0,0.58); 
    box-shadow: 5px 5px 22px 5px rgba(0,0,0,0.58);
}

.wine-img{
    background-color: #ffcaa6;
    height: 40%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
}

.filter-area{
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

select{
  width: 8rem;
}

.logo{
  width: auto;
  height: 5rem;
}

.description{
  font-style: italic;
}

.container > p{
  margin: .5em;
}
.price{
  display: flex;
}